@import "tailwindcss";

body, html {
    background-color: #000;
    color: #fff;
    height: 100%;
    margin: 0;
}

.header {
    height: 10vh;

    margin-left: 20px;
    margin-right: 20px;
}

.div-expanded{
    height: 90vh;
    width: 100vw;
}
